@model Category
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#lettersOnlyField").on("input", function () {
                var inputText = $(this).val();
                var pattern = /^[A-Za-z]+$/; // Only letters (both uppercase and lowercase)

                if (!pattern.test(inputText)) {
                    // Display an error message or prevent form submission
                    alert("Please enter only letters.");
                    $(this).val(""); // Clear the input field
                }
            });
        });
    </script>
}

<div class="container">
    <h1 class="text-center">Create Category</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input type="text" class="form-control" asp-for="Name" id="lettersOnlyField" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DisplayOrder"></label>
                    <input type="number" class="form-control" asp-for="DisplayOrder" required>
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <br></br>
                <button type="submit" class="btn btn-primary">Create</button>
                    <a class="btn btn-primary ml-1 pull-right" asp-area="Admin" asp-controller="Category" asp-action="Index">Go Back</a>
            </form>
        </div>
    </div>
</div>



