

/**/html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-item {
            text-align: center;
            margin-left: 2.5rem;
     }

    .navbar-nav {
        margin: auto; /* Set margin to auto for the UL element */
    }

    .navbutt{
        display: flex;
        justify-content: center;
        
    }

    body {
        margin: 0;
        
    }

    #instructions {
        position: absolute;
        color: #666;
        bottom: 0;
        padding-bottom: 6px;
        font-family: sans-serif;
        width: 100%;
        text-align: center;
        pointer-events: none;
    }
}
/* Adjust the media que


